@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Shifts</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach(var item in Model.WorkDuties)
            {
                <p>@item.StartTime</p>
            }

<div>
    <form method="post">
        <button type="submit">Submit</button>
    </form>
</div>