@page
@model RotaChecker.WebApp.Pages.PopulateModel
@{
}

<div class="text-center">
    <h1 class="display-4">Create Shift Templates</h1>
</div>

<div class="container">
    <form method="post">
        <label for="type">Work Duty Type:</label>
        <select name="type">
            <option value="shift">Shift</option>
            <option value="onCall">On Call Period</option>
        </select>
        <br />
        <label for="startTime">Start Time:</label>
        <input name="startTime" type="datetime-local" value="" />
        <br />
        <label for="endTime">End Time:</label>
        <input name="endTime" type="datetime-local" value="" />
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

